<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao" class="com.kaishengit.dao.UserDao"/>
    <bean id="userDaoTwo" class="com.kaishengit.dao.UserDaoTwo"/>
    <bean id="userService" class="com.kaishengit.service.impl.UserServiceImpl">
        <!--第一种注入方式-->
        <!--name是构造方法的参数名称，ref是被注入类的bean节点的id-->
        <!--<constructor-arg name="userDao" ref="userDao"/>-->

        <!--第二种注入方式-->
        <!--index是构造方法参数的索引，从零开始-->
        <!--<constructor-arg index="0" ref="userDao"/>
        <constructor-arg index="1" ref="userDaoTwo"/>-->

        <!-- 第三中方式-->
        <!--如果在构造方法的有两个一样的参数类型是不可以的。-->
      <!--<constructor-arg type="com.kaishengit.dao.UserDao" ref="userDao"/>
        <constructor-arg type="com.kaishengit.dao.UserDaoTwo" ref="userDaoTwo"/>-->

        <!--第四种方式-->
        <!--使用name等于属性名，value直接赋值-->
        <constructor-arg name="userDao" ref="userDao"/>
        <constructor-arg name="userDaoTwo" ref="userDaoTwo"/>
        <constructor-arg name="name" value="jak"/>

    </bean>



    <!--自动注入第一种写法-->
    <!--autowire表示在自动注入时会根据需要注入的对象的名字去寻找容器中的bean节点的id
    bean阶段的id属性名称和set方法中的参数名称一致，会根据需要注入的set参数名称寻找Spring中容器中ben的id属性名称-->
    <!--<bean id ="userServiceImplTwo"
          class="com.kaishengit.service.impl.UserServiceImplTwo"
          autowire="byName"/>-->


    <!--自动注入第二种写法-->
    <!--根据需要传入的类型进行查找注入-->
   <!-- <bean id ="userServiceImplTwo"
          class="com.kaishengit.service.impl.UserServiceImplTwo"
          autowire="byType"/>-->

    <!--自动注入第三种写法-->
    <!--根据需要传入的类型进行查找注入,先根据构造方法传入参数的名称和Spring容器中bean进行匹配，
    如果没有匹配到，那么就根据构造方法的参数类型进行匹配-->
    <!--如果使用xml形式配置，则一般不使用自动注入，如果是注解的形式，则使用自动注入-->
    <bean id ="userServiceImplTwo"
          class="com.kaishengit.service.impl.UserServiceImplTwo"
          autowire="constructor"/>
 </beans>